body {
	background: #cccccc;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: white;
	position: relative;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid yellow;
	position: absolute;
	top: 203px;
	left: 60px;
}

#teapod {
	width: 150px;
	height: 150px;
	position: absolute;
	background: rosybrown;
	left: 350px;
	bottom: 250px;
	border-radius: 20px;
}

#shelffront {
	position: absolute;
	width: 400px;
	height: 200px;
	bottom: 0px;
	left: 400px;
	background: gray;
}

#shelfleftsquare{
	position: absolute;
	width: 70px;
	height: 200px;
	bottom: 0px;
	left: 330px;
	background: lightgray;
}

#shelflefttriangle {
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 50px solid lightgray;
	bottom: 200px;
	left: 330px;
}


#shelftoptriangle2 {
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 0px solid transparent;
	border-right: 400px solid transparent;
	border-bottom: 50px solid beige;
	bottom: 200px;
	left: 400px;
}

#book {
	position: absolute;
	width: 70px;
	height: 200px;
	bottom: 140px;
	left: 580px;
	background: lightseagreen;
	transform: skew(0deg, 10deg) rotate(90deg);
}

#book2 {
	position: absolute;
	width: 70px;
	height: 150px;
	bottom: 174px;
	left: 750px;
	background: seagreen;
	transform: skew(0deg, -20deg) rotate(90deg);
}


#book3 {
	position: absolute;
	width: 30px;
	height: 200px;
	bottom: 195px;
	left: 600px;
	background: brown;
	transform: skew(0deg, 10deg) rotate(90deg);
}

#book4 {
	position: absolute;
	width: 30px;
	height: 150px;
	bottom: 229px;
	left: 770px;
	background: #000000;
	transform: skew(0deg, -20deg) rotate(90deg);
}

#book5 {
	position: absolute;
	width: 10px;
	height: 100px;
	bottom: 270px;
	left: 650px;
	background: brown;
	transform: skew(0deg, 10deg) rotate(90deg);
}

#book6{
	position: absolute;
	width: 10px;
	height: 100px;
	bottom: 279px;
	left: 750px;
	background: #000000;
	transform: skew(0deg, -20deg) rotate(90deg);
}



#shelftoptriangle {
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 70px solid transparent;
	border-right: 0px solid transparent;
	border-top: 50px solid beige;
	bottom: 200px;
	left: 330px;
}


#square {
	width: 150px;
	height: 150px;
	background: red;
	top: 203px;
	left: 270px;
	position: absolute;

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}


#plant {
	width: 50px;
	height: 150px;
	background: forestgreen;
	bottom: 403px;
	left: 625px;
	position: absolute;


}

#circle {
	width: 100px;
	height: 100px;
	background: deeppink;
	border-radius: 150px;
	bottom: 330px;
	left: 600px;
	position: absolute;
}

#clip {
	width: 150px;
	height: 150px;
	background: green;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	top: 203px;
	left: 690px;
	position: absolute;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/